sources/scratch.sqf
mission/mission.sqm
mission/description_map.inc
mission/map_config/*
mission/paradigm/*
mission/map_config
mission/paradigm
build_output
user_paths.py
user_paths_example.py
*.code-workspace
*.pyc
